body {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;


}
.heading {
  background-color: white;
}
h3 {
  margin: 0;
  padding: 8px 20px;
  font-family: roboto;
  font-weight: 500;
}

.answerArea {
  text-align: center;
  margin-top: 50px;
}
/*hr {
  margin: 0;
}*/
.background {
  background: #E9E9E9;
  height:3px;
  margin-top:10px;
font-family: 'Roboto Slab', serif;
}
h2 span {
  background: #EEEEEE;
  /*padding:10px;*/
  position:relative;
  top: -10px;
}

img {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.answer {
  padding-top: 25px;
  padding-bottom: 60px;
}

li {
  list-style: none;
}

footer {
  color: #E9E9E9;
  background-color: #4B484F;
  font-size: 12px;
  font-weight: 300;
  font-family: roboto;
  padding-top: 60px;
  padding-bottom: 5px;
}
